# Angular
Angular/node_modules/
Angular/.angular/
Angular/dist/

GoNET/GoNET.Infrastructure/Data/GoNetDbContext.cs.csproj
GoNET/GoNET.API/appsettings.json
# Go
Go/bin/
Go/*.exe
.env

# IDEs
.vscode/
.idea/
*.swp
bin/
obj/
wwwroot/uploads/
*.user
*.suo
*.dll
*.exe
*.pdb
